<div class="container-fluid">
  <div class="container xd-container">

    <h2>User Information</h2>


    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <td><b>{{ user.firstName }} {{ user.lastName }}</b></td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ user.address }}</td>
      </tr>
      <tr>
        <th>Role</th>
        <td>{{ user.role }}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{ user.status }}</td>
      </tr>
      <tr>
        <th>User Name</th>
        <td>{{ user.userName }}</td>
      </tr>
    </table>

    <button class="btn btn-default" (click)="gotoUsersList()"> Back</button>
    <button class="btn btn-default" (click)="editUser()">Edit User</button>
    <button class="btn btn-default" (click)="deleteUser(user)">Delete User</button>
    <button class="btn btn-default" (click)="showBorrowHistory(user)">Borrow History</button>

    <br/>
    <br/>
    <br/>
    </div>
</div>

